{% extends 'base.html' %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">User</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="">HomePage</a></li>
                <li class="breadcrumb-item active">User</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body"> 
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    User Details
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">ID</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Username</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Email</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Date of join</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Date of last login</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">Is admin</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">block</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">edit</th>
                                <th class="text-uppercase text-danger text-xxs font-weight-bolder opacity-7" scope="col">Delete</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">unblock</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for x in users %}
                            <tr>

                                <th>{{x.id}}</th>
                                <td>{{x.username}}</td>
                                <td>{{x.email}}</td>
                                <td>{{x.date_joined}}</td>
                                <td>{{x.last_login}}</td> 
                                <td>{{x.is_superuser}}</td> 
                                {% if x.is_active %}
                                <td><a class="btn btn-primary" href="">block</a></td>
                                {% else %}
                                <td><a class="btn btn-primary" href="">unblock</a></td>
                                {% endif %}
                                <td><a class="btn btn-primary" href="{% url 'edituser_single' x.id %}">edit</a></td>
                                <td><a class="btn btn-danger" href="{% url 'deleteuser' x.id %}">Delete</a></td>

                            </tr>                
                            {% endfor %}  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
{% endblock %}