{% extends 'base.html' %}
{% block content %}



<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">EDIT ACCOUNT</h2>
            <form action="{% url 'updateuser' %}" method="POST" enctype="multipart/form-data" class="p-3 ">
                {% csrf_token %}

                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
                <div class="form-group ">

                    <label><b>Name<b></label>
                    <input type="text" class="form-control" name="name" value="{{us.username}}">
                      <br>

                    <label>Email</label>
                    <input type="email" class="form-control" name="email" value="{{us.email}}">

                      <br>

                    <label>Phone</label>
                    <input type="text" class="form-control" name="mob" value="{{data.contact_no}}">

                      <br>
                    <label>City</label>
                    <input type="text" class="form-control" name="city" value="{{da.city}}">
                      <br>

                    <label>Address</label>
                    <input type="text" class="form-control" name="address" value="{{da.Address}}">

                    <br>

           
                    <input type="submit" class="btn btn-dark mt-2 " value="Save changes">

                </div>

            </form>
           </div>
          </div>
        </div>
      </div>
    </div>
    </div>

{% endblock %}